/* ------------------
1. General
2. Navbar
3. Banner  
4. Best Deals
5. Gallery 
6. Footer
-------------------- */
/* 1 General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.nav1{
    background-color: #0006;
}
body{
    background-color: whitesmoke;
}
.img{
    width: 75%;
}
.navbar-nav li a{
text-align: justify;
line-height: 35px;
letter-spacing: 1px;
word-spacing: -4px;
font-weight: bold;

}
.navbar-nav li a:hover{
background-color: lightyellow;
}
.menu{
       text-align: justify;
       line-height: 35px;
       letter-spacing: 1px;
       word-spacing: 1px;
       padding: 0 15px;
       /*padding-right: 1px;*/
       /*padding-left: 1px;*/
       font-size: large;
      
       color: #ebc0c0;
       font-family: revert-layer;
    }
.menu:hover{
    color: red;
}

.carousel-inner img{
    height: 700px;
}/*

.best-deals .deals_item{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.best-deals .deals-text-right{
    position: absolute;
    right: 30px;

}
.best-deals .deals-text-center-top{
    position: absolute;
    top: 10%;
    right: 0px;
    left: 0px;
    text-align: center;
}*/

.footer h5{
    color: #ebc0c0;
}
.footer{
    background-color: #263238;
    /*text-align: center;*/
}
.footer h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 3px 3px #F3A161;
    text-transform: uppercase;
}
.w h6{
    color:lightskyblue;
    margin-top: 30px;
    font-style: initial;
}
.w p{
    color: whitesmoke;
    padding: 2px;
    line-height: 2;
}
.footer h6{
    color: lightblue;
}
.footer .footer_social_media_icon{
    padding:0px;
    border-radius: 50%;
    height:34px; 
    text-align: center;
    width:34px;
    margin:0 10px 10px 0;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:lightskyblue;
    color:black;
    text-decoration: none;
}

.footer .footer_social_media_icon:hover{
    background-color:gold;
    color:white;
}
.img-fluid:hover{
    transform: scale(1.2);
}







